<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.helloworld1999.myweb.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="cn.helloworld1999.myweb.demos.api.model.Image">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="path" column="path" />
            <result property="contentType" column="content_type" />
            <result property="size" column="size" />
            <result property="width" column="width" />
            <result property="height" column="height" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,path,content_type,size,width,
        height
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where  id = #{id} 
    </select>

    <select id="countAllImages" resultType="int">
        SELECT COUNT(*) FROM image
    </select>
    <select id="selectRandomImage" resultType="cn.helloworld1999.myweb.demos.api.model.Image">
        SELECT * FROM image ORDER BY RAND() LIMIT 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from image
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.helloworld1999.myweb.demos.api.model.Image" useGeneratedKeys="true">
        insert into image
        ( id,name,path,content_type,size,width,
        height)
        values (#{id},#{name},#{path},#{contentType},#{size},#{width},
        #{height})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.helloworld1999.myweb.demos.api.model.Image" useGeneratedKeys="true">
        insert into image
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="path != null">path,</if>
                <if test="contentType != null">content_type,</if>
                <if test="size != null">size,</if>
                <if test="width != null">width,</if>
                <if test="height != null">height,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="path != null">#{path},</if>
                <if test="contentType != null">#{contentType},</if>
                <if test="size != null">#{size},</if>
                <if test="width != null">#{width},</if>
                <if test="height != null">#{height},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.helloworld1999.myweb.demos.api.model.Image">
        update image
        <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="path != null">
                    path = #{path},
                </if>
                <if test="contentType != null">
                    content_type = #{contentType},
                </if>
                <if test="size != null">
                    size = #{size},
                </if>
                <if test="width != null">
                    width = #{width},
                </if>
                <if test="height != null">
                    height = #{height},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.helloworld1999.myweb.demos.api.model.Image">
        update image
        set 
            name =  #{name},
            path =  #{path},
            content_type =  #{contentType},
            size =  #{size},
            width =  #{width},
            height =  #{height}
        where   id = #{id} 
    </update>
</mapper>