<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.helloworld1999.common.mapper.RolePermissionsMapperExt">

    <!-- 根据角色ID查询角色权限 -->
    <select id="selectByRoleId" resultType="cn.helloworld1999.common.domain.RolePermissions">
        SELECT * FROM role_permissions WHERE role_id = #{roleId}
    </select>

</mapper>
